#custom-content {
    position: relative;
    background-color: #FFFFFF;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 24px;

    padding-top: 38px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);

    /* ##### Tag ##### */
    .number {
        position: absolute;
        top: 0;
        right: 24px;
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
        opacity: 0.8;
        border-radius: 0 0 24px 24px;
        h1 {
            margin: 0;
            color: #7b7d7c;
            font-size: 26px;
            font-weight: bold;
        }
    }

    ion-item-divider {
        --padding-top: 0;
        --padding-bottom: 12px;
    }
    
    /* ##### Dosis Input ##### */
    .dosis-content {
        display: flex;
        flex-direction: row;
        .dosis-div {
            flex: 1;
            display: flex;
            justify-content: start;
            align-items: center;
            ion-text {
                margin-left: 24px;
            }
        }
    }

    /* ##### Link Button ##### */
    div.link-button {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: 26px;
        a {
            color: var(--ion-color-primary-tint);
            text-decoration: underline;
            outline: none;
        }
    }

    /* ##### Title ##### */
    .title {
        font-size: 18px;
        font-weight: 400;
        ion-icon {
            margin-bottom: -4px;
            font-size: 20px;
        }
    }
}

#add-product {
    width: calc(100% - 52px);
    margin-left: 26px;
    margin-right: 26px;
    --border-radius: 22px;
    --padding-top: 24px;
    --padding-bottom: 24px;
    font-size: 18px;
    text-transform: initial;
    --box-shadow: none;
    ion-icon {
        font-size: 42px;
    }
}

#confirm-aplication {
    margin-top: 30px;
    margin-bottom: 56px;
    width: calc(100% - 92px);
    margin-left: 46px;
    margin-right: 46px;
    --border-radius: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-size: 16px;
    text-transform: initial;
    --box-shadow: none;
}