<ion-header id="home-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="arrow-back-sharp" size="default"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>AÑADIR APLICACIÓN<br>DE PRODUCTO</ion-title>

    <ion-avatar slot="end">
      <img src="../../assets/avatar.svg" alt="Imagen de perfil.">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content id="home-content" color="light" [fullscreen]="true">
  <app-header-message></app-header-message>
  <app-item-product></app-item-product>
</ion-content>
