#home-header {
  box-shadow: none;
  ion-toolbar {
    --min-height: 64px;
    padding-bottom: 4px;
    ion-title {
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      margin-top: 12px;
    }
    ion-avatar {
      --border-radius: 8px;
      width: 42px;
      height: 42px;
      margin-right: 12px;
    }
    ion-buttons {
      ion-button {
        ion-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}